@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505; /* Near black */
  color: #e5e5e5;
  font-family: 'Courier New', Courier, monospace; /* Brutalist mono */
}
